@font-face {
    font-family: 'Alkhemikal';
    src: url('fonts/Alkhemikal.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bdfUM';
    src: url('fonts/bdfUM.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'haxrcorp';
    src: url('fonts/wizard.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}