@font-face {
    font-family: 'Alkhemikal';
    src: url('fonts/Alkhemikal.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bdfUM';
    src: url('fonts/bdfUM.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'haxrcorp';
    src: url('fonts/haxrcorpe.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'born2';
    src: url('fonts/born2.ttf') format('truetype');
    font-style: normal;
}