.tab {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.tab button {
    margin: 3px;
    background-color: inherit;
    float: left;
    border: none;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border: 1px solid transparent;
    color: white;
}

.tablinks>a {
    color: black;
    text-decoration: none;
}

.tab button:hover {
    border: 1px solid black;
}

.tab button.active {
    background-color: rgba(20, 20, 20, 0.6);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tab-default {
    display: block;
}

.tl-default {
    background-color: white;
}